@using FindATrade.Common;
@using FindATrade.Web.ViewModels.Subscription;
@model object[]

@{
    var subscription = Model[0] as SubscriptionModel;
    var serviceId = (int)Model[1];
}


<h1>Subscriptions</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Terms</td>
            <td>Price</td>
            <td>@(subscription == null ? "Buy" : "End date")</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@PaidOrderConstants.Name</td>
            <td>@PaidOrderConstants.Terms</td>
            <td>@PaidOrderConstants.Price</td>
            <td>
                @if (subscription == null)
                {
                    <a class="btn btn-primary" asp-area="AccountManagement" asp-controller="Subscription" asp-action="Add" asp-route-serviceId="@serviceId">Buy</a>

                }
                else
                {
                    @subscription.EndDate
                }
            </td>
        </tr>
    </tbody>
</table>
