@using FindATrade.Common;
@using FindATrade.Web.ViewModels.CompanyService;
@model SingleServiceOutputModel



@if (Model.Vetting != null && Model.Vetting.Passed == false)
{
    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="btn-primary text-white" asp-area="AccountManagement" asp-controller="ManageAccount" asp-action="Vett" asp-route-id="@Model.Id">Vett this service</a>
        </li>
    }
}

<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <partial name="_Carousel" model="@Model.Images" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.Title</h1>
            <p class="text-wrap text-break">@Model.Description</p>

            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Category: <span class="badge bg-primary rounded-pill text-wrap text-break">@Model.CategoryName</span>
                </li>
            </ul>

            <h4>Pricing and packages</h4>
            @if (!Model.Packages.Any() || Model.Packages == null || Model.Packages.All(x => x.Price != null || x.Description != null))
            {
                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        Price: <span class="badge bg-primary rounded-pill text-wrap text-break">negotiable</span>
                    </li>
                </ul>
            }
            else
            {
                @foreach (var item in Model.Packages.Where(x => x.Price != null || x.Description != null))
                {
                    <ul class="list-group">
                        <li class="list-group-item align-items-center">
                            Price: <span class="badge bg-primary rounded-pill text-wrap text-break">@item.Price</span>
                        </li>
                        <li class="list-group-item align-items-center">
                            Description: <span class="badge bg-primary text-wrap text-break" style="width: 18rem;">@item.Description</span>
                        </li>
                    </ul>
                    <hr />
                }
            }

            @if (Model.IsOwner)
            {
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="Edit" asp-route-id="@Model.Id">Edit Service</a>
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="EditImage" asp-route-id="@Model.Id">Edit Images</a>
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="AddImages" asp-route-id="@Model.Id">Add Images</a>
                <a class="btn btn-primary" asp-area="AccountManagement" asp-controller="Subscription" asp-action="Add" asp-route-id="@Model.Id">Add Subscription</a>

                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        <form asp-controller="CompanyService" asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm"></form>
                        <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Service</button>
                    </li>
                    <li class="list-group-item align-items-center">
                        Vetting status: <span class="badge bg-primary text-wrap text-break" style="width: 18rem;">@(Model.Vetting.Passed == false ? "In progress": "Passed")</span>
                    </li>
                    <li class="list-group-item align-items-center">
                        Vetting message: <span class="badge bg-primary text-wrap text-break" style="width: 18rem;">@Model.Vetting.Description</span>
                    </li>
                </ul>
            }

        </div>
    </div>

    if(Model.IsOwner)
    {
        <partial name="_Subscription" model="@Model.Subscription" />
    }

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Company" asp-action="GetByServiceId" asp-route-id="@Model.Id">Go to Company</a>
            </div>
    </div>

    <partial name="_MoreByCategory" model="@Model.CompanyServicesByCategory" />
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>
