@using FindATrade.Common;
@using FindATrade.Web.ViewModels.CompanyService;
@model SingleServiceOutputModel

@if (Model.Vetting != null && Model.Vetting.Passed == false)
{
    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="btn-primary text-white" asp-area="AccountManagement" asp-controller="ManageAccount" asp-action="Vett" asp-route-id="@Model.Id">Vett this service</a>
        </li>
    }
}



<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.Title</h1>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Category: <span class="badge bg-primary rounded-pill">@Model.CategoryName</span>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Description: <span class="badge bg-primary text-wrap" style="width: 18rem;">@Model.Description</span>
                </li>
            </ul>
            <h4>Pricing and packages</h4>
            @foreach (var item in Model.Packages)
            {
                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        Price: <span class="badge bg-primary rounded-pill">@item.Price</span>
                    </li>
                    <li class="list-group-item align-items-center">
                        Description: <span class="badge bg-primary text-wrap" style="width: 18rem;">@item.Description</span>
                    </li>
                </ul>
                <hr />
            }
            @if (Model.IsOwner)
            {
                    <a class="btn btn-primary" asp-controller="CompanyService" asp-action="Edit" asp-route-id="@Model.Id">Edit Service</a>
            }
            
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <partial name="_MoreByCategory" model="@Model.CompanyServicesByCategory" />
</div>