@using FindATrade.Common;
@using FindATrade.Web.ViewModels.CompanyService;
@model SingleServiceOutputModel



@if (Model.Vetting != null && Model.Vetting.Passed == false)
{
    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="btn-primary text-white" asp-area="AccountManagement" asp-controller="ManageAccount" asp-action="Vett" asp-route-id="@Model.Id">Vett this service</a>
        </li>
    }
}

<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <partial name="_Carousel" model="@Model.Images" />
        </div>

        @*<img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="...">*@
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.Title</h1>
            <p class="text-wrap text-break">@Model.Description</p>
            @*<p class="text-break">
            <div class="myDIV"><p class="text-break">@(Model.Description.Length > 100 ? Model.Description.Substring(0, 100) : Model.Description)...</p></div>
            <div class="hide">@Model.Description</div>
            </p>*@

            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Category: <span class="badge bg-primary rounded-pill text-wrap text-break">@Model.CategoryName</span>
                </li>
            </ul>

            <h4>Pricing and packages</h4>
            @if (!Model.Packages.Any() || Model.Packages == null || Model.Packages.Any(x => x.Price != null || x.Description != null))
            {
                <h5>negotiable</h5>
            }
            else
            {
                @foreach (var item in Model.Packages.Where(x => x.Price != null || x.Description != null))
                {
                    <ul class="list-group">
                        <li class="list-group-item align-items-center">
                            Price: <span class="badge bg-primary rounded-pill text-wrap text-break">@item.Price</span>
                        </li>
                        <li class="list-group-item align-items-center">
                            Description: <span class="badge bg-primary text-wrap text-break" style="width: 18rem;">@item.Description</span>
                        </li>
                    </ul>
                    <hr />
                }
            }

            @if (Model.IsOwner)
            {
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="Edit" asp-route-id="@Model.Id">Edit Service</a>
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="EditPictures" asp-route-id="@Model.Id">Edit Images</a>
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="AddImages" asp-route-id="@Model.Id">Add Images</a>

                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        <a class="btn btn-danger align-content-lg-end" asp-controller="CompanyService" asp-action="Delete" asp-route-id="@Model.Id">Delete Service</a>
                    </li>
                </ul>
            }

        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Company" asp-action="GetByServiceId" asp-route-id="@Model.Id">Go to Company</a>
            </div>
    </div>
    <!-- Content Row-->
    <partial name="_MoreByCategory" model="@Model.CompanyServicesByCategory" />
</div>

<style>
    .hide {
        display: none;
    }

    .myDIV:hover + .hide {
        display: block;
        color: black;
        font-size: 1.25em;
        word-break: break-word;
    }
</style>