@using FindATrade.Common;
@using FindATrade.Web.ViewModels.CompanyService;
@model SingleServiceOutputModel



@if (Model.Vetting != null && Model.Vetting.Passed == false)
{
    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="btn-primary text-white" asp-area="AccountManagement" asp-controller="ManageAccount" asp-action="Vett" asp-route-id="@Model.Id">Vett this service</a>
        </li>
    }
}

<h1 class="text-md-center">This is single service page</h1>



<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
        @*<partial name="_Images" model="@Model.Images" />*@
        @*<img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="...">*@
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.Title</h1>
            <p class="text-break">
                <div class="myDIV"><p class="text-break">@(Model.Description.Length > 100 ? Model.Description.Substring(0, 100) : Model.Description)...</p></div>
                <div class="hide">@Model.Description</div>
            </p>

            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Category: <span class="badge bg-primary rounded-pill">@Model.CategoryName</span>
                </li>
            </ul>

            <h4>Pricing and packages</h4>
            @foreach (var item in Model.Packages)
            {
                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        Price: <span class="badge bg-primary rounded-pill">@item.Price</span>
                    </li>
                    <li class="list-group-item align-items-center">
                        Description: <span class="badge bg-primary text-wrap" style="width: 18rem;">@item.Description</span>
                    </li>
                </ul>
                <hr />
            }
            @if (Model.IsOwner)
            {
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="Edit" asp-route-id="@Model.Id">Edit Service</a>
            }

        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->
    <partial name="_MoreByCategory" model="@Model.CompanyServicesByCategory" />
</div>

<style>
    .hide {
        display: none;
    }

    .myDIV:hover + .hide {
        display: block;
        color: black;
        font-size: 1.25em;
        word-break: break-word;
    }
</style>