@using FindATrade.Common;
@using FindATrade.Web.ViewModels.UserAccount;
@model UserAccountOutputModel

<h1>@this.ViewBag.Title</h1>
<h2>@this.ViewBag.Message</h2>

<p class="text-danger m-0"> </p>

@if (Model.UserCompany == null)
{
    <a class="btn btn-primary" asp-area="" asp-controller="Company" asp-action="Create">Create Company</a>
}
else
{
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" width="800" height="400" src="@Model.UserCompany.OutputImageUrl" alt="Image"></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">@Model.UserCompany.Name</h1>
                <p class="text-wrap text-break">@Model.UserCompany.Description</p>
                <ul class="list-group">
                    <li class="list-group-item align-items-center">
                        <p class="font-weight-light">
                            Phone:
                            <span class="badge bg-primary rounded-pill text-wrap text-break">@Model.UserCompany.PhoneNumber</span>
                        </p>
                    </li>
                    <li class="list-group-item align-items-center">
                        <p class="font-weight-light">
                            Email:
                            <span class="badge bg-primary rounded-pill text-wrap text-break">@Model.UserCompany.Email</span>
                        </p>

                    </li>
                    <li class="list-group-item align-items-center">
                        <p class="font-weight-light">
                            Address:
                            <span class="badge bg-primary rounded-pill text-wrap text-break">@Model.UserCompany.Address</span>
                        </p>
                    </li>
                    @if (Model.UserCompany.Skills != null)
                    {
                        <li class="list-group-item align-items-center">
                            <p class="font-weight-light">
                                Skills:
                                @foreach (var skill in Model.UserCompany.Skills.Where(x => x.Name != null))
                                {
                                    <span class="badge bg-primary rounded-pill text-wrap text-break">@skill.Name</span>
                                }
                            </p>
                        </li>
                    }
                </ul>
                <a class="btn btn-primary" asp-area="" asp-controller="Company" asp-action="Edit" asp-route-id="@Model.UserCompany.Id">Edit Company</a>
                <a class="btn btn-primary" asp-controller="CompanyService" asp-action="Create" asp-route-id="@Model.UserCompany.Id">Add Service</a>
                <form asp-controller="Company" asp-action="Delete" asp-route-id="@Model.UserCompany.Id" id="deleteForm">
                </form>
                <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Company</button>
            </div>
        </div>

    </div>


    if (Model.UserCompanyServices != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Note!</strong>
            <h5 class="text-black">After creating a service a vetting process will begin.</h5>
            <h5 class="text-black">Untill vetting is over yor service will not be visible by customers.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            @foreach (var service in Model.UserCompanyServices)
            {
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            @if (service.Images.First() != null)
                            {
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="@service.Images.First()" alt="Image">
                            }

                            <h2 class="card-title">@service.Title</h2>
                            <p class="card-text">@(service.Description.Length > 30 ? service.Description.Substring(0, 30) : service.Description)</p>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="CompanyService" asp-action="GetSingle" asp-route-id="@service.Id" class="btn btn-primary">See Service</a>
                        </div>
                        @*<a class="btn btn-primary btn-sm" href="#!">More Info</a></div>*@
                    </div>
                </div>
            }
        </div>

        foreach (var service in Model.UserCompanyServices)
        {
            if (service.Vetting != null)
            {
                if (service.Vetting.Passed == false)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Note!</strong>
                        <h5 class="text-black">@service.Title</h5>
                        <h5 class="text-black">@service.Vetting.Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Note!</strong>
                        <h5 class="text-black">@service.Title</h5>
                        <h5 class="text-black">@service.Vetting.Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
        }

    }

    <h2>Ratings</h2>

    @if (Model.UserCompany.Ratings != null)
    {
        <partial name="_Ratings" model="@Model.UserCompany.Ratings" />
    }
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">

        <div class="card-body">
            @if (Model.OverallRating != null)
            {
                <p class="text-white m-0">Overall Rating</p>
                <p>Reliability -> @Model.OverallRating.Reliability Tidiness -> @Model.OverallRating.Tidiness Workmanship -> @Model.OverallRating.Workmanship Courtesy -> @Model.OverallRating.Courtesy QuoteAccuracy -> @Model.OverallRating.QuoteAccuracy</p>
            }
            else
            {
                <p>No ratings yet</p>
            }

        </div>
    </div>

    @if (Model.UserCompanyServices != null)
    {
        <partial name="_Subscription" model="@Model.UserCompanyServices" />
    }
}

@if (Model.UserCompany != null)
{
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @if (Model.UserCompanyServices != null)
                {
                    <div class="modal-body">
                        <p>Cannot delete comapny with active services!</p>
                        <p>Delete all services first!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                }
                else
                {
                    <div class="modal-body">
                        <p>Are you sure that you want to delete "@Model.UserCompany.Name"?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-success" onclick="deleteForm.submit()">Yes</button>
                    </div>
                }
            </div>
        </div>
    </div>

}
