@using FindATrade.Common
@using FindATrade.Web.ViewModels.Home;
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

add searches

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    </div>
<div class ="text-center">
    <div class="row" style="height: auto !important;">
    <div class="col-md-8">
        <h1>Most popular</h1>
        <div class="row" style="height: auto !important">
            @foreach (var company in this.Model.PopularCompanies)
            {
                <div class="card col-md-6">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@company.Name</h5>
                        <p class="card-text">@company.Description</p>
                        <a asp-controller="Company" asp-action="GetById" asp-route-id="@company.Id" class="btn btn-primary">Go to company</a>
                    </div>
                </div>
            }
        </div>
    </div>
     <div class="col-md-4">
            <p>We have: </p>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Categories:
                    <span class="badge bg-primary rounded-pill">@Model.CategoriesCount</span>
                </li>
                <li class="list-group-item align-items-center">
                    Companies:
                    <span class="badge bg-primary rounded-pill">@Model.CompaniesCount</span>
                </li>
                <li class="list-group-item align-items-center">
                    Services:
                    <span class="badge bg-primary rounded-pill">@Model.ServicesCount</span>
                </li>
            </ul>
        </div>
    </div>
   
</div>

<div class="row" style="height: auto !important;">
    <div class="col-lg-8 g-mb-30 g-mb-0--lg">



        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217439/prezidentut-rumen-radev-provede-telefonen-razgovor-s-predsedatelya-na-evrogrupata-paskal-donahu">
                        <span title="Президентство на Република България">Президентството:</span>
                        Президентът Румен Радев проведе телефонен разговор с председателя на Еврогрупата Паскал Донаху
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/sources/president.bg.jpg" alt="Президентството" title="Президентът Румен Радев проведе телефонен разговор с председателя на Еврогрупата Паскал Донаху">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Държавният глава Румен Радев проведе днес телефонен разговор с Паскал Донаху - председател на Еврогрупата, обединяваща министрите на финансите от Еврозоната. Предприетите от служебното правителство в България действия за гарантиране на...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.president.bg/news6936/prezidentat-rumen-radev-provede-telefonen-razgovor-s-predsedatelya-na-evrogrupata-paskal-donahu.html" target="_blank">Президентство на Република България</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 18:44</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217438/v-gurciya-sudyat-bivolu-za-statiya-za-tankera-badr">
                        <span title="Биволъ">Биволъ:</span>
                        В Гърция съдят “Биволъ” за статия за танкера “БАДР”
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/sources/bivol.bg.jpg" alt="Биволъ" title="В Гърция съдят “Биволъ” за статия за танкера “БАДР”">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Съдебните дела срещу сайта за разследваща журналистика “Биволъ” са сред примерите, обсъждани на международната конференция на World Press Institute и Асоциацията на европейските журналисти (АЕЖ) – “Нови хоризонти в журналистиката”, про...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://bivol.bg/в-гърция-съдят-биволъ-за-статия-за-т.html" target="_blank">Биволъ</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 18:32</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217437/ministur-nikola-stoyanov-bvp-na-bulgariya-raste-s-nad-18-mlrd-lv-prez-2021-g">
                        <span title="Министерство на икономиката и индустрията">МИИ:</span>
                        Министър Никола Стоянов: БВП на България расте с над 18 млрд. лв. през 2021 г.
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/437/small_217437.png" alt="МИИ" title="Министър Никола Стоянов: БВП на България расте с над 18 млрд. лв. през 2021 г.">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        По текущи цени през 2021 г. БВП на България се увеличава с над 18 млрд. лв. спрямо 2020 година. Това съобщи министърът на икономиката и индустрията Никола Стоянов по време на церемонията по връчване на традиционните годишни награди на ...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.mi.government.bg/news/ministar-nikola-stoyanov-bvp-na-balgariya-raste-s-nad-18-mlrd-lv-prez-2021-g/" target="_blank">Министерство на икономиката и индустрията</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 18:24</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217435/prezidentut-bulgarskata-koleda-obedinyava-cyaloto-ni-obshtestvo-okolo-kauzata-na-detskoto-zdraveopaz">
                        <span title="Президентство на Република България">Президентството:</span>
                        Президентът: „Българската Коледа“ обединява цялото ни общество около каузата на детското здравеопазване
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/435/small_217435.png" alt="Президентството" title="Президентът: „Българската Коледа“ обединява цялото ни общество около каузата на детското здравеопазване">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Пощенска марка „20 години благотворителна инициатива „Българската Коледа“ беше валидирана на тържествена церемония в президентската институция „Българската Коледа“ обединява цялото ни общество около каузата на детското здравеопазване. ...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.president.bg/news6935/prezidentat-balgarskata-koleda-obedinyava-tsyaloto-ni-obshtestvo-okolo-kauzata-na-detskoto-zdraveopazvane.html" target="_blank">Президентство на Република България</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 18:19</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217434/ministur-milkov-uchastva-v-29-ta-sreshta-na-suveta-na-ministrite-na-vunshnite-raboti-na-osse-v-ludj">
                        <span title="Министерство на външните работи">МВнР:</span>
                        Министър Милков участва в 29-та среща на Съвета на министрите на външните работи на ОССЕ в Лудж, Полша
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/434/small_217434.png" alt="МВнР" title="Министър Милков участва в 29-та среща на Съвета на министрите на външните работи на ОССЕ в Лудж, Полша">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Министър Николай Милков участва в годишното заседание на Съвета на министрите на външните работи на държавите-участнички в Организацията за сигурност и сътрудничество в Европа (ОССЕ) в Лудж, което се провежда под председателството на П...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.mfa.bg/bg/news/35790" target="_blank">Министерство на външните работи</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 18:18</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217433/kmetut-na-sofiya-yordanka-fandukova-se-sreshtna-s-prezidenta-na-kosovo-viosa-osmani-sadri">
                        <span title="Столична община">СО:</span>
                        Кметът на София Йорданка Фандъкова се срещна с президента на Косово Вьоса Османи-Садри
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/433/small_217433.png" alt="СО" title="Кметът на София Йорданка Фандъкова се срещна с президента на Косово Вьоса Османи-Садри">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Кметът на София Йорданка Фандъкова се срещна с президента на Косово Вьоса Османи-Садри По време на разговорите бе обсъден общият европейски път на региона и значението на градовете за развитието на Балканите, както и приоритетите на ев...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.sofia.bg/web/guest/-/kmet-t-na-sofia-jordanka-fand-kova-se-sresna-s-prezidenta-na-kosovo-v-osa-osmani-sadri" target="_blank">Столична община</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 17:49</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217432/resheniya-ot-zasedanie-na-01122022-g">
                        <span title="Комисия за финансов надзор">КФН:</span>
                        Решения от заседание на 01.12.2022 г.
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/sources/fsc.bg.jpg" alt="КФН" title="Решения от заседание на 01.12.2022 г.">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        На заседанието си днес КФН реши: 1. Издава временна забрана за публикуване на търгово предложение от „ДНС ИНВЕСТ“ АД за закупуване чрез инвестиционен посредник „АБВ Инвестиции” ЕООД на 27 944 броя акции (29,80%) от капитала на „Родина ...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.fsc.bg/?p=47168&amp;lang=bg" target="_blank">Комисия за финансов надзор</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 17:13</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217431/provedeno-obuchenie-na-slujitelite-na-direkciya-situacionen-centur-v-mvnr-finansirano-ot-norvejkiya">
                        <span title="Министерство на външните работи">МВнР:</span>
                        Проведено обучение на служителите на дирекция ,,Ситуационен център‘‘ в МВнР, финансирано от Норвежкия финансов механизъм
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/431/small_217431.png" alt="МВнР" title="Проведено обучение на служителите на дирекция ,,Ситуационен център‘‘ в МВнР, финансирано от Норвежкия финансов механизъм">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        На 1 декември 2022 г., като част от заложените инициативи по проект „Доизграждане и оборудване на Център за управление на кризи на Министерството на външните работи на Република България“, финансиран от Фонда за двустранни отношения в ...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.mfa.bg/bg/news/35788" target="_blank">Министерство на външните работи</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 17:12</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217430/okrujna-prokuratura-lovech-provede-rabotna-sreshta-s-predstaviteli-na-mestnata-vlast-i-na-pravoohran">
                        <span title="Прокуратура на Република България">Прокуратурата:</span>
                        Окръжна прокуратура-Ловеч проведе работна среща с представители на местната власт и на правоохранителните органи с цел противодействие на престъпността
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/430/small_217430.png" alt="Прокуратурата" title="Окръжна прокуратура-Ловеч проведе работна среща с представители на местната власт и на правоохранителните органи с цел противодействие на престъпността">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        На 30.11.2022 г. в Окръжна прокуратура-Ловеч се проведе работна среща с представители на местната власт и на правоохранителните органи в областта. На срещата присъстваха Димитър Димитров – зам. окръжен прокурор на Окръжна прокуратура –...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://prb.bg/bg/news/aktualno/61744-okrazhna-prokuratura-lovech-provede-rabotna-sreshta-s-predstaviteli-na-mestnata-" target="_blank">Прокуратура на Република България</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 17:06</span>
                    </li>
                </ul>
            </div>
        </article>
        <article class="g-mb-20 clearfix">
            <div class="g-pos-rel px-2">
                <h3 class="h5">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/217429/mihaela-e-bebe-32-ot-invitro-programata-na-stolichna-obshtina">
                        <span title="Столична община">СО:</span>
                        Михаела е бебе 32 от инвитро програмата на Столична община
                    </a>
                </h3>
                <div class="media">
                    <a class="d-flex mr-2">
                        <img class="rounded g-width-100 g-height-60" src="/images/news/429/small_217429.png" alt="СО" title="Михаела е бебе 32 от инвитро програмата на Столична община">
                    </a>
                    <p class="g-color-gray-dark-v4 text-justify mb-2">
                        Михаела, с перфектните мерки 51 см и 3140 гр е бебе №32, което се роди с помощта на програмата на Столична община за финансово подпомагане на двойки с репродуктивни проблеми, нуждаещи се от инвитро процедури с донорски яйцеклетки. Роди...
                    </p>
                </div>
                <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    <li class="list-inline-item">
                        <span class="g-font-size-13">
                            <a href="https://www.sofia.bg/web/guest/-/mihaela-e-bebe-32-ot-invitro-programata-na-stolicna-obsina" target="_blank">Столична община</a>
                        </span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <span class="g-color-gray-dark-v5">четв, 01 дек 2022 17:01</span>
                    </li>
                </ul>
            </div>
        </article>

        <!-- Pagination -->
        <nav aria-label="Страници новини">
            <ul class="pagination justify-content-center">
                <li class="page-item active"><a class="page-link" href="/News/List/1">1</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/2">2</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/3">3</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/4">4</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/5">...</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/21217">21217</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/21218">21218</a></li>
                <li class="page-item "><a class="page-link" href="/News/List/21219">21219</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Следваща" href="/News/List/2">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- Sidebar -->
    <div class="col-lg-4" style="height: auto !important;">
        <div class="g-mb-20">


            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
                <h3 class="h4 g-color-black mb-0">Водещи новини</h3>
            </div>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://www.apnews.com/article/biden-politics-pete-buttigieg-strikes-congress-c95510555dcd4cdc2d839e61d1195b06?utm_source=homepage&amp;utm_medium=TopNews&amp;utm_campaign=position_01" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/12.png?t=638055271332675535" title="Senate moves to avert rail strike amid dire warnings" alt="Senate moves to avert rail strike amid dire warnings">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.apnews.com/article/biden-politics-pete-buttigieg-strikes-congress-c95510555dcd4cdc2d839e61d1195b06?utm_source=homepage&amp;utm_medium=TopNews&amp;utm_campaign=position_01" target="_blank">Senate moves to avert rail strike amid dire warnings</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.apnews.com" target="_blank">AP</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T21:32:13.2675535" title="2022-12-01T21:32:13.2675535">чет, 1 дек 2022 23:32</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://nova.bg/news/view/2022/12/01/392451/%D1%8F%D0%BF%D0%BE%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE%D0%B1%D0%B5%D0%B4%D0%B8-%D0%B8%D1%81%D0%BF%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%B8%D0%B7%D1%85%D0%B2%D1%8A%D1%80%D0%BB%D0%B8-%D0%B3%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F-%D0%BE%D1%82-%D1%81%D0%B2%D0%B5%D1%82%D0%BE%D0%B2%D0%BD%D0%BE%D1%82%D0%BE/" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/2.png?t=638055253272073643" title="Япония победи Испания и изхвърли Германия от Световното" alt="Япония победи Испания и изхвърли Германия от Световното">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://nova.bg/news/view/2022/12/01/392451/%D1%8F%D0%BF%D0%BE%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE%D0%B1%D0%B5%D0%B4%D0%B8-%D0%B8%D1%81%D0%BF%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%B8%D0%B7%D1%85%D0%B2%D1%8A%D1%80%D0%BB%D0%B8-%D0%B3%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F-%D0%BE%D1%82-%D1%81%D0%B2%D0%B5%D1%82%D0%BE%D0%B2%D0%BD%D0%BE%D1%82%D0%BE/" target="_blank">Япония победи Испания и изхвърли Германия от Световното</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://nova.bg" target="_blank">Nova</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T21:02:07.2073643" title="2022-12-01T21:02:07.2073643">чет, 1 дек 2022 23:02</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://btvnovinite.bg/bulgaria/tramvaj-i-kola-se-udariha-v-sofija-ima-postradal.html" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/1.png?t=638055240050655046" title="Трамвай и кола се удариха в София, има пострадал (СНИМКИ)" alt="Трамвай и кола се удариха в София, има пострадал (СНИМКИ)">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://btvnovinite.bg/bulgaria/tramvaj-i-kola-se-udariha-v-sofija-ima-postradal.html" target="_blank">Трамвай и кола се удариха в София, има пострадал (СНИМКИ)</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://btvnovinite.bg" target="_blank">bTV</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T20:40:05.0655046" title="2022-12-01T20:40:05.0655046">чет, 1 дек 2022 22:40</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="http://www.bta.bg/bg/news/bulgaria/369994-deputatite-zapaziha-rayon-chuzhbina-no-ot-gerb-sds-prizovaha-da-ne-se-barza-s" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/10.png?t=638055231483340702" title="Депутатите запазиха район &quot;Чужбина&quot;, но от ГЕРБ-СДС призоваха да не се бърза с методиката и определянето на мандатите там..." alt="Депутатите запазиха район &quot;Чужбина&quot;, но от ГЕРБ-СДС призоваха да не се бърза с методиката и определянето на мандатите там...">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="http://www.bta.bg/bg/news/bulgaria/369994-deputatite-zapaziha-rayon-chuzhbina-no-ot-gerb-sds-prizovaha-da-ne-se-barza-s" target="_blank">Депутатите запазиха район "Чужбина", но от ГЕРБ-СДС призоваха да не се бърза с методиката и определянето на мандатите там...</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="http://www.bta.bg/bg" target="_blank">BTA.bg</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T20:25:48.3340702" title="2022-12-01T20:25:48.3340702">чет, 1 дек 2022 22:25</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://edition.cnn.comhttps://edition.cnn.com/europe/live-news/russia-ukraine-war-news-12-01-22/index.html" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/7.png?t=638055220652268577" title="Biden: What Putin is doing in Ukraine is sick (Analysis:)" alt="Biden: What Putin is doing in Ukraine is sick (Analysis:)">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://edition.cnn.comhttps://edition.cnn.com/europe/live-news/russia-ukraine-war-news-12-01-22/index.html" target="_blank">Biden: What Putin is doing in Ukraine is sick (Analysis:)</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://edition.cnn.com" target="_blank">CNN</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T20:07:45.2268577" title="2022-12-01T20:07:45.2268577">чет, 1 дек 2022 22:07</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://www.dnes.bg/eu/2022/12/01/priiatelite-na-kremyl-v-nebeto-spytnicite-na-es-prenasiashti-ruskata-propaganda.552211" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/4.png?t=638055182510052683" title="Приятелите на Кремъл в небето: Спътниците на ЕС, пренасящи руската пропаганда" alt="Приятелите на Кремъл в небето: Спътниците на ЕС, пренасящи руската пропаганда">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.dnes.bg/eu/2022/12/01/priiatelite-na-kremyl-v-nebeto-spytnicite-na-es-prenasiashti-ruskata-propaganda.552211" target="_blank">Приятелите на Кремъл в небето: Спътниците на ЕС, пренасящи руската пропаганда</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.dnes.bg" target="_blank">Dnes.bg</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T19:04:11.0052683" title="2022-12-01T19:04:11.0052683">чет, 1 дек 2022 21:04</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://www.dnevnik.bg/politika/2022/12/01/4422370_izbornite_promeni_okonchatelnoto_glasuvane_zapochva/?ref=home_mainStory" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/8.png?t=638055112996528466" title="След ново гласуване: сканиращите устройства отпадат, за изборите ще има машини и хартия" alt="След ново гласуване: сканиращите устройства отпадат, за изборите ще има машини и хартия">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.dnevnik.bg/politika/2022/12/01/4422370_izbornite_promeni_okonchatelnoto_glasuvane_zapochva/?ref=home_mainStory" target="_blank">След ново гласуване: сканиращите устройства отпадат, за изборите ще има машини и хартия</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.dnevnik.bg" target="_blank">Dnevnik.bg</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T17:08:19.6528466" title="2022-12-01T17:08:19.6528466">чет, 1 дек 2022 19:08</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://www.mediapool.bg/zakonodatelen-kachamak-bsp-i-gerb-razmisliha-varnaha-smesenoto-glasuvane---s-hartiya-i-s-mashina-news342509.html" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/11.png?t=638055087798023076" title="&quot;Законодателен качамак&quot;. БСП и ГЕРБ размислиха, върнаха смесеното гласуване - с хартия и с машина" alt="&quot;Законодателен качамак&quot;. БСП и ГЕРБ размислиха, върнаха смесеното гласуване - с хартия и с машина">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.mediapool.bg/zakonodatelen-kachamak-bsp-i-gerb-razmisliha-varnaha-smesenoto-glasuvane---s-hartiya-i-s-mashina-news342509.html" target="_blank">"Законодателен качамак". БСП и ГЕРБ размислиха, върнаха смесеното гласуване - с хартия и с машина</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.mediapool.bg" target="_blank">Mediapool.bg</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T16:26:19.8023076" title="2022-12-01T16:26:19.8023076">чет, 1 дек 2022 18:26</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://www.euronews.com/2022/12/01/zelenskyy-tells-elon-musk-to-come-to-ukraine-after-peace-deal-furore" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/9.png?t=638054926949747640" title="Zelenskyy tells Elon Musk to 'come to Ukraine' after peace deal furore" alt="Zelenskyy tells Elon Musk to 'come to Ukraine' after peace deal furore">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://www.euronews.com/2022/12/01/zelenskyy-tells-elon-musk-to-come-to-ukraine-after-peace-deal-furore" target="_blank">Zelenskyy tells Elon Musk to 'come to Ukraine' after peace deal furore</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://www.euronews.com" target="_blank">Euronews</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-12-01T11:58:14.9747640" title="2022-12-01T11:58:14.9747640">чет, 1 дек 2022 13:58</time>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="media g-mb-10">
                <a class="d-flex mr-3" href="https://bntnews.bg/news/sadat-reshi-arestat-na-sevdelina-arnaudova-e-nezakonen-1212540news.html" target="_blank">
                    <img class="rounded g-width-75 g-height-55" src="/images/mainnews/15.png?t=638029003315317915" title="Съдът реши: Арестът на Севделина Арнаудова е незаконен" alt="Съдът реши: Арестът на Севделина Арнаудова е незаконен">
                </a>
                <div class="media-body">
                    <h3 class="h6">
                        <a class="u-link-v5 g-color-black g-color-primary--hover" href="https://bntnews.bg/news/sadat-reshi-arestat-na-sevdelina-arnaudova-e-nezakonen-1212540news.html" target="_blank">Съдът реши: Арестът на Севделина Арнаудова е незаконен</a>
                    </h3>
                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item">
                            <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="https://bntnews.bg" target="_blank">БНТ</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            <time datetime="2022-11-01T11:52:11.5317915" title="2022-11-01T11:52:11.5317915">вто, 1 ное 2022 13:52</time>
                        </li>
                    </ul>
                </div>
            </article>


        </div>
        <div class="dark-mode-switch">
            <input id="dark-mode" type="checkbox" onclick="toggleDarkMode()">
            <label for="dark-mode">Dark mode</label>
        </div>
        <div class="g-mb-20">
            <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- PressCenters.com_Sidebar -->
            <ins class="adsbygoogle" style="display: block; height: 280px;" data-ad-client="ca-pub-4541634013740958" data-ad-slot="6075962183" data-ad-format="auto" data-full-width-responsive="true" data-adsbygoogle-status="done" data-ad-status="filled"><div id="aswift_1_host" tabindex="0" title="Advertisement" aria-label="Advertisement" style="border: none; height: 280px; width: 350px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block; overflow: visible;"><iframe id="aswift_1" name="aswift_1" style="left:0;position:absolute;top:0;border:0;width:350px;height:280px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="350" height="280" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-4541634013740958&amp;output=html&amp;h=280&amp;slotname=6075962183&amp;adk=3801709583&amp;adf=1134044192&amp;pi=t.ma~as.6075962183&amp;w=350&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1669931526&amp;rafmt=1&amp;format=350x280&amp;url=https%3A%2F%2Fpresscenters.com%2F&amp;fwr=0&amp;fwrattr=true&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;uach=WyJXaW5kb3dzIiwiMTUuMC4wIiwieDg2IiwiIiwiMTA4LjAuNTM1OS43MSIsW10sZmFsc2UsbnVsbCwiNjQiLFtbIk5vdD9BX0JyYW5kIiwiOC4wLjAuMCJdLFsiQ2hyb21pdW0iLCIxMDguMC41MzU5LjcxIl0sWyJHb29nbGUgQ2hyb21lIiwiMTA4LjAuNTM1OS43MSJdXSxmYWxzZV0.&amp;dt=1669931526335&amp;bpp=4&amp;bdt=329&amp;idt=360&amp;shv=r20221110&amp;mjsv=m202211150101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3Da825d3d4b60efd1b-2226fd3001d800f8%3AT%3D1669922162%3ART%3D1669922162%3AS%3DALNI_MZ7B4YmfyCRYDGK6e1G2x9RPQvaBA&amp;gpic=UID%3D00000b8b438d5b66%3AT%3D1669922162%3ART%3D1669922162%3AS%3DALNI_MbJKPdZe82jinM6HRewSLSOt85xzw&amp;prev_fmts=730x280&amp;correlator=8097332916358&amp;frm=20&amp;pv=1&amp;ga_vid=1322335248.1669922162&amp;ga_sid=1669931527&amp;ga_hid=1030521837&amp;ga_fc=1&amp;u_tz=120&amp;u_his=3&amp;u_h=768&amp;u_w=1366&amp;u_ah=768&amp;u_aw=1366&amp;u_cd=24&amp;u_sd=1&amp;dmc=8&amp;adx=880&amp;ady=1372&amp;biw=1349&amp;bih=663&amp;scr_x=0&amp;scr_y=0&amp;eid=44759875%2C44759926%2C44759842%2C42531705%2C31070993&amp;oid=2&amp;pvsid=841860512553865&amp;tmod=33798437&amp;uas=0&amp;nvt=1&amp;ref=https%3A%2F%2Fwww.google.com%2F&amp;eae=0&amp;fc=896&amp;brdim=135%2C-767%2C135%2C-767%2C1366%2C-768%2C1364%2C766%2C1366%2C663&amp;vis=1&amp;rsz=%7C%7CpeEbr%7C&amp;abl=CS&amp;pfx=0&amp;fu=128&amp;bc=31&amp;ifi=2&amp;uci=a!2&amp;btvi=1&amp;fsb=1&amp;xpc=eeDpXPIxiu&amp;p=https%3A//presscenters.com&amp;dtd=368" data-google-container-id="a!2" data-google-query-id="CLPOx9uz2fsCFQa5mgodcuQCPg" data-load-complete="true"></iframe></div></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="g-mb-20">
            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
                <h3 class="h4 g-color-black mb-0">Времето</h3>
            </div>
            <article class="media g-mb-10">
                <iframe src="https://forecabox.foreca.com/get/44840" width="300" height="250" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" allowtransparency="true" title="Времето"></iframe>
            </article>
        </div>
    </div>
</div>
