@using FindATrade.Common
@using FindATrade.Web.ViewModels.Home;
@model IndexOutputViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

add searches

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>
<div class="text-center">
    <div class="row" style="height: auto !important;">
            <div class="col-md-8">
                <h1>Most popular</h1>
                <div class="row" style="height: auto !important">
                    @foreach (var company in this.Model.PopularCompanies)
                    {
                        <div class="card col-md-3">
                            <img class="card-img-top" src="@company.OutputImageUrl" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@company.Name</h5>
                                <p class="card-text">@company.Description</p>
                                <a asp-controller="Company" asp-action="GetById" asp-route-id="@company.Id" class="btn btn-primary">Go to company</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        <div class="col-md-4">
            <p>We have: </p>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    Categories:
                    <span class="badge bg-primary rounded-pill">@Model.CategoriesCount</span>
                </li>
                <li class="list-group-item align-items-center">
                    Companies:
                    <span class="badge bg-primary rounded-pill">@Model.CompaniesCount</span>
                </li>
                <li class="list-group-item align-items-center">
                    Services:
                    <span class="badge bg-primary rounded-pill">@Model.ServicesCount</span>
                </li>
            </ul>
        </div>
    </div>

</div>
