@using FindATrade.Web.ViewModels.Company;
@model SingleCompanyModel

@{
    this.ViewBag.Title = "Title";
}

<h1>This is single company page</h1>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.UserCompany.Name</h1>
            <p>@Model.UserCompany.Description</p>
            <ul class="list-group">
                <li class="list-group-item align-items-center">
                    <p class="font-weight-light">
                        Phone:
                        <span class="badge bg-primary rounded-pill">@Model.UserCompany.PhoneNumber</span>
                    </p>
                </li>
                <li class="list-group-item align-items-center">
                    <p class="font-weight-light">
                        Email:
                        <span class="badge bg-primary rounded-pill">@Model.UserCompany.Email</span>
                    </p>

                </li>
                <li class="list-group-item align-items-center">
                    <p class="font-weight-light">
                        Address:
                        <span class="badge bg-primary rounded-pill">@Model.UserCompany.Address</span>
                    </p>
                </li>
                <li class="list-group-item align-items-center">
                    <p class="font-weight-light">
                        Skills:
                        <span class="badge bg-primary rounded-pill">@(string.Join(" ", Model.UserCompany.Skills.ToList().Select(x => x.Name)))</span>
                    </p>
                </li>
            </ul>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>

</div>
<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    @foreach (var service in Model.UserCompanyServices)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">@service.Title</h2>
                    <p class="card-text">@service.Description</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="CompanyService" asp-action="GetSingle" asp-route-id="@service.Id" class="btn btn-primary">See Service</a>
                </div>
                @*<a class="btn btn-primary btn-sm" href="#!">More Info</a></div>*@
            </div>
        </div>
    }
</div>
<h2>Ratings</h2>


@foreach (var item in Model.UserCompany.Ratings)
{
    <ul class="list-group">
        <li class="list-group-item align-items-center">
            Description: <span class="badge bg-primary rounded-pill text-wrap">@item.Description</span>
        </li>
        <li class="list-group-item align-items-center">

            Courtesy: <span class="badge bg-primary rounded-pill text-wrap">@item.Courtesy</span>
            Tidiness: <span class="badge bg-primary rounded-pill">@item.Tidiness</span>
            Reliability: <span class="badge bg-primary rounded-pill">@item.Reliability</span>
            QuoteAccuracy: <span class="badge bg-primary rounded-pill">@item.QuoteAccuracy</span>
            Workmanship: <span class="badge bg-primary rounded-pill">@item.Workmanship</span>
        </li>
    </ul>
    <hr />
}

<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Overall Rating</p></div>
    <p>Reliability -> @Model.OverallRating.Reliability Tidiness -> @Model.OverallRating.Tidiness Workmanship -> @Model.OverallRating.Workmanship Courtesy -> @Model.OverallRating.Courtesy QuoteAccuracy -> @Model.OverallRating.QuoteAccuracy</p>
    @if(Model.IsOwner == false)
    {
        <a asp-controller="Review" asp-action="Write" asp-route-id="@Model.UserCompany.Id" class="btn btn-primary">Leve a review</a>
    }
</div>

